block footer

    footer#footer.footer

        .container

            .footer__wrap

                .footer__main

                    .footer__directions

                        a.label-link(href="#") Направления

                        ul
                            li
                                a(href="#") По США
                            li
                                a(href="#") По Израилю
                            li
                                a(href="#") По СНГ
                            li
                                a(href="#") По Европе
                            li
                                a(href="#") По Азии
                            li
                                a(href="#") По южной америке
                            li
                                a(href="#") По Северной америке
                            li
                                a(href="#") По африке
                            li
                                a(href="#") По австралии и океании
                            li
                                a(href="#") По антарктике
                            li
                                a(href="#") По России

                    .footer__services

                        a.label-link(href="#") Услуги

                        ul
                            li
                                a(href="#") Международные перевозки
                            li
                                a(href="#") Грузоперевозки круглосуточно
                            li
                                a(href="#") Автоперевозки
                            li
                                a(href="#") Авиаперевозки
                            li
                                a(href="#") Морские перевозки
                            li
                                a(href="#") Складские услуги
                            li
                                a(href="#") Страховка груза
                            li
                                a(href="#") Негабарит
                            li
                                a(href="#") Сборные грузы
                            li
                                a(href="#") Мультимодальные перевозки
                            li
                                a(href="#") Вэд перевозки
                            li
                                a(href="#") Таможенное оформление
                    
                    .footer__features

                        ul
                            li
                                a(href="#") Грузовые авиаперевозки
                            li
                                a(href="#") Доставка авто в Европу
                            li
                                a(href="#") Перевозка генеральных грузов
                            li
                                a(href="#") Перевозка скоропортящихся грузов
                            li
                                a(href="#") Перевозка опасных грузов
                            li
                                a(href="#") Перевозка наливных грузов
                            li
                                a(href="#") Перевозка личных вещей в Европу из России
                            li
                                a(href="#") Международная перевозка сыпучих грузов
                            li
                                a(href="#") Контейнерная перевозка грузов по России
                            li
                                a(href="#") Автовладельцам

                    .footer__menu

                        ul
                            li
                                a(href="#") О компании
                            li
                                a(href="#") Партнёрство
                            li
                                a(href="#") Машины
                            li
                                a(href="#") Преимущества
                            li
                                a(href="#") Отзывы
                            li
                                a(href="#") Документы
                            li
                                a(href="#") Вакансии
                            li
                                a(href="#") Контакты

                    .footer__contacts
                        
                        .footer__contacts-item.footer__contacts-item-phone
                            .footer__contacts-icon
                                img(src="./images/phone.svg", alt="icon")
                            a(href="tel:+7 (495)150-29-39")  +7 (495)150-29-39
                        
                        .footer__contacts-item.footer__contacts-item-address
                            .footer__contacts-icon
                                img(src="./images/map-pin.svg", alt="icon")
                            p 123007, Москва, Шелепихинская наб., 34к1

                        .footer__contacts-item.footer__contacts-item-mail
                            .footer__contacts-icon
                                img(src="./images/mail.svg", alt="img")
                            a(href="mailto:info@fortunalog.ru")  info@fortunalog.ru

                .footer__bottom

                    .footer__logo
                        a(href="/")
                            img(src="./images/logo.svg", alt="logo")
                            
                    .footer__law
                        .footer__copyright © 2011-2023 все права защищены
                        .footer__policy
                            a(href="#") Политика конфиденциальности

                    .footer__devs
                        a(href="https://di-project.studio/") Разработка сайта
                        span Di-Project.Studio